<template lang="pug">
  .bottom-tabs
    .tab(v-for="tab in Tabs")
      RouterLink.router-link(:to="{ name: tab.route }")
        FontAwesomeIcon(:icon="tab.icon")
</template>

<script>
import { Tabs } from '../../router/routes';

export default {
  name: 'BottomTabs',

  data: () => ({
    Tabs,
  }),
};
</script>

<style lang="stylus" scoped>
.bottom-tabs
  display flex
  box-sizing content-box
  position sticky
  bottom -1px
  border-top 1px solid var(--secondary)
  background-color var(--background-color)
  height var(--bottom-tabs-height)
  min-height  var(--bottom-tabs-height)
  padding-bottom env(safe-area-inset-bottom, 0)

.tab
  flex-grow 1
  display flex
  justify-content center
  align-items center
  position relative
  &:not(:last-child)
    &:after
      content ''
      position absolute
      width 1px
      height 50%
      background-color var(--secondary)
      right 0

.router-link
  color var(--font-primary)
  flex-grow 1
  align-self stretch
  justify-self stretch
  display flex
  align-items center
  justify-content center

.router-link-exact-active
  color var(--accent)
</style>
