<template lang="pug">
  .currency-item
    FontAwesomeIcon.favorite-icon(v-if="isFavorite" icon="star" size="xs")
    .currency-item__body
      .currency-item__symbols
        .currency-item__code {{ currency }}
        .currency-item__symbol {{ symbol }}
      .currency-item__name {{ name }}
    .currency-item__slot
      slot
</template>

<script>
import { mapGetters } from 'vuex';

import DictionaryMapping from '../../i18n/DictionaryMapping';
import CurrencyInfo from '../../resources/CurrencyInfo';

export default {
  name: 'CurrencyItem',

  props: {
    currency: {
      required: true,
      type: String,
    },

    isFavorite: Boolean,
  },

  computed: {
    ...mapGetters('locale', [
      'dictionary',
    ]),

    name() {
      return this.dictionary[DictionaryMapping.Currencies[this.currency]];
    },

    symbol() {
      return CurrencyInfo[this.currency].symbol_native;
    },
  },
};
</script>

<style lang="stylus" scoped>
.currency-item
  display flex
  padding 15px
  position relative

  &:not(:first-child)
    border-top 1px solid var(--secondary)
.currency-item__slot
  display flex
  align-items center
  margin-left auto

.currency-item__symbols
  display flex
  margin-bottom 10px

.currency-item__code
.currency-item__symbol
  font-size 28px
  font-family $font-mono

.currency-item__code
  font-weight bold

.currency-item__symbol
  font-weight 400
  margin-left 10px
  color var(--font-light)

.currency-item__name
  color var(--font-normal)

.favorite-icon
  color var(--accent)
  position absolute
  top 5px
  right 5px

</style>
