<template lang="pug">
  .screen-title
    .screen-title__inner
      IconLink.screen-title__back-link(:to="backRoute" icon="arrow-left")

      .screen-title__text {{ title }}
</template>

<script>
import IconLink from '../base/IconLink.vue';


export default {
  name: 'ScreenTitle',

  components: {
    IconLink,
  },

  props: {
    backRoute: [String, Object],

    title: String,
  },
};
</script>

<style lang="stylus" scoped>
.screen-title
  position sticky
  top 0
  padding-top env(safe-area-inset-top, 0)
  box-sizing content-box
  box-shadow 0 5px 5px 2px var(--shadow-color)
  background-color var(--background-color)
  height var(--screen-title-height)
  z-index 1

.screen-title__inner
  position relative

.screen-title__text
  font-family $font-serif
  font-weight bold
  text-transform uppercase
  line-height var(--screen-title-height)
  text-align center

.screen-title__back-link
  position absolute
  top 50%
  transform translateY(-50%)
  left 0
</style>
