<template lang="pug">
  .screen-wrapper
    ScreenTitle(
      v-if="showTitle"
      :title="title"
      :backRoute="backRoute"
    )

    .screen-wrapper__content
      Loader(v-if="loading")
      slot(v-else)

    BottomTabs
</template>

<script>
import BottomTabs from './BottomTabs.vue';
import ScreenTitle from './ScreenTitle.vue';
import Loader from '../base/Loader.vue';

export default {
  name: 'ScreenWrapper',
  components: {
    BottomTabs,
    Loader,
    ScreenTitle,
  },

  props: {
    showTitle: Boolean,

    title: String,

    backRoute: {
      type: [String, Object],
      default: '',
    },

    loading: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
.screen-wrapper
  height 100%
  display flex
  flex-flow column
  padding-left env(safe-area-inset-left, 0)
  padding-right env(safe-area-inset-right, 0)
  background-color var(--background-color)

.screen-wrapper__content
  flex-grow 1
  height 100%

.safe-area-placeholder
  width 100%
  background-color var(--background-color)
  position fixed
  z-index 100

  &.top
    top 0
    height env(safe-area-inset-top, 0)
</style>
