<template lang="pug">
  ScreenWrapper(
    showTitle
    :title="screenTitle"
    :backRoute="{ name: 'home' }"
  )
    .settings
      Select.select(
        :value="lang"
        :label="languagePickerLabel"
        :data="languagePickerData"
        @change="setLang"
      )

      Select.select(
        :value="theme"
        :label="themePickerLabel"
        :data="themePickerData"
        @change="setTheme"
      )
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';

import Select from '../../base/Select.vue';
import ScreenWrapper from '../../common/ScreenWrapper.vue';
import I18n from '../../../i18n';
import DictionaryMapping from '../../../i18n/DictionaryMapping';


export default {
  name: 'Settings',

  components: {
    Select,
    ScreenWrapper,
  },

  computed: {
    ...mapState('locale', [
      'lang',
    ]),

    ...mapState('settings', [
      'theme',
    ]),

    ...mapGetters('locale', [
      'dictionary',
    ]),

    ...mapGetters('currency', [
      'currencies',
    ]),

    screenTitle() {
      return this.dictionary[DictionaryMapping.ScreenTitle.SETTINGS];
    },

    languagePickerLabel() {
      return this.dictionary[DictionaryMapping.Ui.CHOOSE_LANGUAGE];
    },

    languagePickerData() {
      return [
        {
          value: 'en',
          label: I18n.getTranslationByDictionaryKey(
            this.lang,
            DictionaryMapping.Languages.ENGLISH,
          ),
        },
        {
          value: 'ru',
          label: I18n.getTranslationByDictionaryKey(
            this.lang,
            DictionaryMapping.Languages.RUSSIAN,
          ),
        },
      ];
    },

    themePickerLabel() {
      return this.dictionary[DictionaryMapping.Ui.CHOOSE_COLOR_THEME];
    },

    themePickerData() {
      return [
        {
          value: 'default',
          label: I18n.getTranslationByDictionaryKey(
            this.lang,
            DictionaryMapping.ColorTheme.LIGHT,
          ),
        },
        {
          value: 'dark',
          label: I18n.getTranslationByDictionaryKey(
            this.lang,
            DictionaryMapping.ColorTheme.DARK,
          ),
        },
      ];
    },
  },

  methods: {
    ...mapMutations('locale', [
      'setLang',
    ]),

    ...mapMutations('settings', [
      'setTheme',
    ]),
  },
};
</script>

<style lang="stylus" scoped>
.settings
  padding 15px

.select
  margin-bottom 15px
</style>
