<template lang="pug">
  span {{ animatedValue }}
</template>

<script>
import { TweenLite } from 'gsap/TweenMax';


export default {
  props: {
    value: {
      type: Number,
      required: true,
    },
    toFixed: {
      type: Number,
      default: 0,
    },
  },

  data: () => ({
    tweenedNumber: 0,
  }),

  computed: {
    animatedValue() {
      return this.tweenedNumber.toFixed(this.toFixed);
    },
  },

  watch: {
    value: {
      immediate: true,
      handler(val) {
        TweenLite.to(this.$data, 0.2, { tweenedNumber: val });
      },
    },
  },

};
</script>
