<template lang="pug">
  #app
    RouterView
</template>

<script>
import { mapState } from 'vuex';

import boot from './bootstrap';


export default {
  name: 'App',

  computed: {
    ...mapState('settings', [
      'theme',
    ]),
  },

  watch: {
    theme(theme) {
      this.setTheme(theme);
    },
  },

  async beforeCreate() {
    await boot();
  },

  beforeMount() {
    this.setTheme(this.theme);
  },

  methods: {
    setTheme(theme) {
      document.documentElement.setAttribute('theme', theme);
    },
  },
};
</script>

<style lang="stylus"></style>
