<template lang="pug">
  .currency-list
      CurrencyItem(
        v-for="currency in currencies"
        @click.native="switchCurrency(currency.code)"
        :currency="currency.code"
        :key="currency.code"
      )
        .currency-list__favorite(@click.stop="toggleFavorite(currency.code)")
          FontAwesomeIcon(:class="{ active: isFavorite(currency.code) }" icon="star")
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

import CurrencyItem from '../../../common/CurrencyItem.vue';


export default {
  name: 'SettingsCurrencies',

  components: {
    CurrencyItem,
  },

  props: {
    currencies: {
      required: true,
      type: Array,
    },
  },

  computed: {
    ...mapGetters([
      'isFavorite',
    ]),

    ...mapGetters('locale', [
      'dictionary',
    ]),
  },

  methods: {
    ...mapMutations([
      'toggleFavorite',
    ]),

    ...mapMutations('currency', [
      'setBaseCurrency',
    ]),

    switchCurrency(code) {
      this.setBaseCurrency(code);
      this.$router.replace('/');
    },
  },
};
</script>

<style lang="stylus" scoped>
  .currency-list__favorite
    width 42px
    height 42px
    display flex
    align-items center
    justify-content center

  .active
    color var(--accent)
</style>
