<template lang="pug">
  input.converter-input(
    type="text"
    :value="value"
    @keypress="isCharValid($event)"
    @input="$emit('input', ($event.target.value ? $event.target.value : null))"
    placeholder="0.00"
  )
</template>

<script>
export default {
  name: 'ConverterInput',

  props: {
    value: Number,
  },

  methods: {
    isCharValid(evt) {
      const charCode = (evt.which) ? evt.which : evt.keyCode;
      // if number or dot
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46 && charCode !== 190) {
        return evt.preventDefault();
      }

      return true;
    },
  },
};
</script>

<style lang="stylus" scoped>
  .converter-input
    font-family $font-mono
    width 100%
    height 15vh
    text-align right
    font-size 3em
    line-height 1
    background-color var(--background-color)
    color var(--font-primary)
    border none
    padding 0 15px
    &:focus
      outline none
</style>
