<template lang="pug">
  .currency-list
    CurrencyItem(
      v-for="currency in currenciesSorted"
      :currency="currency.code"
      :isFavorite="isFavorite(currency.code)"
      :key="currency.code"
    )
        .currency-rate
          TweenedNumber(
            :value="getCurrencyRate(currency)"
            :toFixed="getCurrencyDigits(currency)"
          )

</template>

<script>
import { mapGetters } from 'vuex';

import TweenedNumber from '../../../base/TweenedNumber.vue';
import CurrencyItem from '../../../common/CurrencyItem.vue';
import CurrencyInfo from '../../../../resources/CurrencyInfo';


export default {
  name: 'ConverterCurrencies',

  components: {
    CurrencyItem,
    TweenedNumber,
  },

  props: {
    currencies: {
      required: true,
      type: Array,
    },

    value: Number,
  },

  computed: {
    ...mapGetters([
      'isFavorite',
    ]),

    ...mapGetters('locale', [
      'dictionary',
    ]),

    currenciesSorted() {
      return [...this.currencies].sort((a, b) => {
        const isAFavorite = this.isFavorite(a.code);
        const isBFavorite = this.isFavorite(b.code);

        if (isAFavorite && !isBFavorite) {
          return -1;
        }
        if (isBFavorite && !isAFavorite) {
          return 1;
        }

        return 0;
      });
    },
  },

  methods: {
    getCurrencyRate(currency) {
      return this.value * currency.value;
    },

    getCurrencyDigits(currency) {
      return CurrencyInfo[currency.code].decimal_digits;
    },
  },
};
</script>

<style scoped>

</style>
