:root
  --background-color #fff

  --accent gold
  --secondary #e7e7e7

  --shadow-color #e7e7e7

  --font-primary #1f1f1f
  --font-normal #6c6c6c
  --font-light #bcbcbc

  --screen-title-height 54px
  --bottom-tabs-height 42px

[theme="dark"]
  --background-color #282828

  --accent #ef07e3
  --secondary #a5a5a5

  --shadow-color #444

  --font-primary #fff
  --font-normal #e0e0e0
  --font-light #898989
